{% extends 'backend/layout.html' %}
{% load static %}

{% block head %}
<title>Peter Kulisov</title>
<link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="{% static 'scripts/portfolio.js' %}"></script>
{% endblock %}

{% block body %}
<header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a href="{% url 'index' %}">Back</a></h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
        <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Projects</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
      </div>
    </nav>
  </header>
  <main>
    <section id="home">

    </section>
    <section id="about">

    </section>
    <section id="work">

    </section>
    <section id="contact">

    </section>
  </main>







<div class="name_container">
<h1 id="name">Peter Kulisov.</h1>
<!-- <span class="name_popup1">
    <div id="parent">
        subjects_name
        <div id="border"></div>
    </div>
</span> -->
</div>

<h1 id="slogan">I'm coding.</h1>
<p class="description">I'm software engineer specializing in web dev</p>
<!-- <div class="popup_line">
<svg height="200" width="150">
    <polyline id="polyline"points="15,150 35,150 35,0 55,0" style="stroke:rgb(100, 255, 218); stroke-width: 2; fill:none"></polyline>
</svg>
</div> -->

<span class="name_popup2">
    <div id="parent2">
        subjects_occupation
        <div id="border"></div>
    </div>
</span>
<div class="popup_line2">
<svg height="800" width="150">
    <polyline points="150,290 75,290 75,0 100,0" style="stroke:rgb(100, 255, 218); stroke-width: 2; fill:none"></polyline>
</svg>
</div>

<span class="name_popup3">
    <div id="parent3">
        occupation_description
        <div id="border"></div>
    </div>
</span>
<div class="popup_line3">
    <svg height="100" width="300">
        <polyline points="270,57 12,57 0,8" style="stroke:rgb(100, 255, 218); stroke-width: 2; fill:none"></polyline>
    </svg>
    </div>




<div class="bio_container">
<h3>About me</h3>
<p>
    Hi! My name is Peter, and I am a huge fan of programming and tech in general. I do enjoy results, but I enjoy a process no less.
</p>
<p>
    I began my path as a developer from school while building simple programs on study languages. After spending 4 years in university studying ICT, I'm finally back to code.
</p>
<p>
    Utilizing my advanced understanding of network, operation systems, and creative nature of myself I end up becoming a web developer.
</p>
</div>

<svg id="underphoto_rect" width="474" height="276">
    <rect width="474" height="276" style="stroke:rgb(100, 255, 218); stroke-width: 10; fill:none"></rect>
</svg>
<img id="bio_photo" src="{% static 'images/doge.jpg' %}" alt="bio_photo">

<div class="projects_container">
    <h3>About my work</h3>
    <p>
        I mostly building a Django-based apps. One of them is an interactive career pathways for my current employer.
    </p>
    <p>
        Feel free to cick and learn more about this project by viewing it's source code)
    </p>
</div>
<a id="career_project_a">
    
</a>

<div class="contact_container">
	<div class="row">
			<h1 class="new">contact us</h1>
	</div>
	<div class="row">
			<h4 style="text-align:center">We'd love to hear from you!</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">Send Message</div>
			</div>
	</div>
</div>
   

{% endblock %}