body {
    background-color: rgb(7, 24, 51);
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.name_container {
    position: absolute;
    width: 100%;
    top: 25%;
    margin-left: 8%; 
}

#name {
    font-size: 7em;
    margin-bottom: 0%;
    color: #ccd6f6;
}
#slogan {
    font-size: 7em;
    position: absolute;
    top: 40%;
    margin-left: 8%;
    color: #8892b0;
}

.description {
    color: #495670;
    position: absolute;
    top: 60%;
    font-size: 2em;
    margin-left: 8%;
}

.name_popup1 {
    color: #64ffda;
    font-size: 1em;
    position: absolute;
    left: 47%;
    top: -50%
}

.popup_line {
    position: absolute;
    left: 52%;
    top: 21%
}


#border {
  border-bottom: solid 3px rgba(100, 255, 218,.75);
  position: absolute;
  width: 20px;
  right: -7px;
}

/* Animation */
#parent {
  animation: animated-text 1s steps(30,end) 1s 1 normal both
}

#border {
   animation: animated-cursor 600ms steps(30,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 115px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-bottom-color: rgba(100, 255, 218,.75);}
  to{border-bottom-color: transparent;}
}
#parent {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; 
    font-size: 1em;
    color: rgba(100, 255, 218,.70);
    position: inherit;
  }
  
  .name_popup2 {
    color: #64ffda;
    font-size: 1em;
    position: absolute;
    left: 10%;
    top: 79.75%
  }

  .popup_line2 {
    position: absolute;
    left: 2%;
    top: 50%
}
#parent2 {
    animation: animated-text2 1s steps(30,end) 1s 1 normal both
  }

  @keyframes animated-text2{
    from{width: 0;}
    to{width: 170px;}
  }

  #parent2 {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; 
    font-size: 1em;
    color: rgba(100, 255, 218,.70);
    position: relative;
  }

  .name_popup3 {
    color: #64ffda;
    font-size: 1em;
    position: absolute;
    left: 45%;
    top: 72.75%
  }
  #parent3 {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; 
    font-size: 1em;
    color: rgba(100, 255, 218,.70);
    position: relative;
  }
  #parent3 {
    animation: animated-text3 1s steps(30,end) 1s 1 normal both
  }

  @keyframes animated-text3{
    from{width: 0;}
    to{width: 200px;}
  }
  .popup_line3 {
    position: absolute;
    left: 30%;
    top: 68%;
}



















/*-------------Reset-------------*/
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  button:focus, input:focus {
    outline: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  section {
    height: 100vh;
  }
  #home {
    background-color: rgb(7, 24, 51);
  }
  #about {
    background-color:  rgb(7, 24, 51);
  }
  #work {
    background-color:  rgb(7, 24, 51);
  }
  #contact {
    background-color:  rgb(7, 24, 51);
  }
  /*-------------Helpers-------------*/
  .skew {
    transform: skew(-20deg);
  }
  .un-skew {
    transform: skew(20deg);
  }
  /*-------------Nav-------------*/
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #nav {
    background-color:rgb(7, 24, 51);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  .nav-link, .logo {
    padding: 0 1em;
  }
  span.gradient {
    background: #64ffda;
    background: -webkit-linear-gradient(45deg, #64ffda, #5aefcccd);
    background: linear-gradient(45deg, #03a68e, #64ffda);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
  }
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
    color: #64ffda;
  }
  a:hover {
    text-decoration: underline;
  }
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .btn-nav {
    color: #64ffda;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
    .nav-link {
      border-top: none;
    }
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
    .btn-nav {
      display: none;
    }
    .nav a:link.active, a:visited.active, a:active.active {
      background: rgb(100, 255, 218);
      background: -webkit-linear-gradient(45deg, #64ffda, #12b58f);
      background: linear-gradient(45deg, #64ffda, #12b58f);
      color: #fff;
    }
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }
  

.bio_container {
    position:absolute;
    top:140%;
    margin-left: 25%;
    margin-right: 50%;
    color: #ccd6f6;
    font-size: 1.3em;
}
.bio_container h3 {
    color:rgb(100, 255, 218)
}

#bio_photo {
    position: absolute;
    left: 55%;
    top:145%
}